@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .bg-light{
    background-color: rgba(255, 144, 14, 0.1);
  }

 .dis-flex{
    display: flex;
 }
 .nav-item{
    list-style: none;
    margin-right: 40px;
 }
.nav-link{
    text-decoration: none;
}
.dark2{
    color: #424242;
}
.dark3{
    color: rgba(114, 114, 114, 1);
}

.navbar{
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.navbar, .banner{
   max-width: 936px;
    margin: 0 auto;
}
.brand{
   color: rgba(19, 19, 19, 1);
   font-weight: bold;
   font-size: 2rem;
}
.banner .banner-content{
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 32px;
}

.banner-img img{
    width: 100%;
}
.banner .banner-content h1{
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 32px;
}
.banner .banner-content p{
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 32px;
}
.btn{
border: none;
border-radius: 8px;
    height: 8vh;
    background-color: #FF900E;
    color: #FFFFFF;
    padding: 15px 20px;
    font-size: 1.20rem;
    text-align: center;

}


/* main section start */
main{
    max-width: 936px;
    margin: 0 auto;

}
main > section{
    margin-top: 130px;
}
.teams{
    align-items: center;

}
.team-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
max-width: 460px;
max-height: 460px;
}

.team-img img{
    width: 100%;
    height: 100%;
}
h3{
    font-size: 2rem;
    margin-bottom: 15px;
}
.our-features{
max-width: 350px;
   margin-left: 100px;
}
.our-features p{
    font-size: 1rem;
    margin-bottom: 20.8px;
}
.orange{
    color: #FF900E;
}

/* facts */
.section-title{
    font-size: 2rem;
    margin-bottom: 15px;
}
.facts-content{
    max-width: 535px;
    max-height: 33.8px;
    margin-bottom: 65px;
}
.fact-card{
    border: 1px solid #FF900E;
max-width: 250px;
height: 200px;
border-radius: 8px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.fact-number{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 20px;
    color: rgba(114, 114, 114, 1);
}

/* sponsor */
.sponsor-info{
    max-width: 542px;
    max-height: 83.85px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-info h3{
    margin-bottom: 15.6px;
    font-weight: bold;
    font-size: 2rem;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 50px;
}
.sponsor-companies img{
    max-width: 107px;
    filter: grayscale(100%);
}
#feature-title{
    border-left: 5px solid #FF900E;
    padding: 20px;
}
.feature-card{
    max-width: 500px;
    max-height: 150px;
    background-color: #FFFFFF;
   margin-bottom: 15px;
    border: none;
    padding:10px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.feature-card title{
    font-weight: 600;
    font-size: 1rem;

}
.para1{
    max-width: 380px;
}
.features{
    display: flex;
    gap: 70px;
}
.features img{
    max-width: 460px;
    max-height: 700px;
}
#badge{
    padding: 55px 42px;
font-size: 1rem;
font-weight: 600;
}
#year{
    font-size: 2rem;
    font-weight: bold;
}
.img-sec{
    position: relative;
}
.btn-primary{
    border: none;
    border-radius: 8px;
        /* height: 8vh; */
        background-color: #FF900E;
        color: #FFFFFF;
        /* padding: 15px 20px; */
        /* font-size: 1.20rem; */
        text-align: center;
        max-width: 222px;
        max-height: 160px;
        margin-top: 5px;
    position: absolute;
    margin-left: -500px;
    top: 700px;
    }

@media screen and (max-width: 576px) {
    .navbar, .nav-links{
        flex-direction: column;
    }
    .btn{
        border: none;
        border-radius: 8px;
            height: 8vh;
            background-color: #FF900E;
            color: #FFFFFF;
            padding: 8px 20px;
            font-size: 1.20rem;
        }
        .teams{
            flex-direction: column;
        
        }
        .our-features{
               margin-left: 50px;
               margin-top: 1000px;
            }
            .team-img{
                display: grid;
                grid-template-columns: repeat(1,1fr);
                gap: 25px;
            max-width: 460px;
            max-height: 460px;
            }
            .fact-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }
            .fact-card{
                border: 1px solid #FF900E;
            width: 460px;
            height: 200px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 25px;
            }
            .section-title{
                font-size: 2rem;
                margin-bottom: 15px;
            }
            .facts-content{
                max-width: 250px;
                max-height: 33.8px;
                margin-bottom: 65px;
            }

.sponsor-companies{
    display: flex;
   flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-primary{
    border: none;
    border-radius: 8px;
        /* height: 8vh; */
        background-color: #FF900E;
        color: #FFFFFF;
        /* padding: 15px 20px; */
        /* font-size: 1.20rem; */
        text-align: center;
        max-width: 222px;
        max-height: 160px;
        margin-top: 5px;
    position: absolute;
    margin-left: -280px;
    top: 300px;
    }
    .features img{
        /* max-width: 400px; */
        /* max-height: 700px; */
        width: 100%;
    }
    .banner .banner-content h1{
        text-align: center;
        font-weight: bold;
        font-size: 3rem;
        margin-bottom: 32px;
    }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
    .navbar, .nav-item, .teams{
        flex-direction: column;
    }
    .btn{
        border: none;
        border-radius: 8px;
            height: 8vh;
            background-color: #FF900E;
            color: #FFFFFF;
            text-align: center;
            font-size: 1rem;
        }
        .our-features{
            margin-top: 10px;
         }
         .team-img{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 25px;
        max-width: 460px;
        max-height: 460px;
        }
        .fact-container{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 20px;
        }
        .features{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .sponsor-companies{
            display: flex;
           flex-direction: column;
            gap: 50px;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
        }
        .btn-primary{
            border: none;
            border-radius: 8px;
                /* height: 8vh; */
                background-color: #FF900E;
                color: #FFFFFF;
                /* padding: 15px 20px; */
                /* font-size: 1.20rem; */
                text-align: center;
                max-width: 222px;
                max-height: 160px;
                margin-top: 5px;
            position: absolute;
          margin-left: -480px;
            top: 490px;
            }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
   
    .btn{
        border: none;
        border-radius: 8px;
            height: 8vh;
            background-color: #FF900E;
            color: #FFFFFF;
            padding: 8px 20px;
            font-size: 1.20rem;
        }
        .feature-card{
            max-width: 400px;
            max-height: 250px;
            background-color: #FFFFFF;
           margin-bottom: 15px;
            border: none;
            padding:10px;
            box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
            border-radius: 8px;
        }
        .features img{
            max-width: 460px;
            max-height: 700px;
            margin-top: 300px;
        }
        .sponsor-companies{
            display: flex;
           flex-direction: column;
            gap: 50px;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
        }
        .btn-primary{
            border: none;
            border-radius: 8px;
                /* height: 8vh; */
                background-color: #FF900E;
                color: #FFFFFF;
                /* padding: 15px 20px; */
                /* font-size: 1.20rem; */
                text-align: center;
                max-width: 222px;
                max-height: 160px;
                margin-top: 5px;
            position: absolute;
            margin-left: -480px;
            top: 800px;
            }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
   
    .btn{
        border: none;
        border-radius: 8px;
            height: 8vh;
            background-color: #FF900E;
            color: #FFFFFF;
            padding: 8px 20px;
            font-size: 1.20rem;
        }
        .features img{
            max-width: 460px;
            max-height: 700px;
            margin-top: 250px;
        }
        .btn-primary{
            border: none;
            border-radius: 8px;
                /* height: 8vh; */
                background-color: #FF900E;
                color: #FFFFFF;
                /* padding: 15px 20px; */
                /* font-size: 1.20rem; */
                text-align: center;
                max-width: 222px;
                max-height: 160px;
                margin-top: 5px;
            position: absolute;
           margin-left: -480px;
            top: 800px;
            }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
   
    .btn{
        border: none;
        border-radius: 8px;
            height: 8vh;
            background-color: #FF900E;
            color: #FFFFFF;
            padding: 8px 20px;
            font-size: 1.20rem;
        }
        .features img{
            max-width: 460px;
            max-height: 700px;
            margin-top: 150px;
        }
}
@media screen and (min-width: 1400px) and (max-width: 1925px) {
   
    .btn{
        border: none;
        border-radius: 8px;
            height: 8vh;
            background-color: #FF900E;
            color: #FFFFFF;
            padding: 8px 20px;
            font-size: 1.20rem;
        }
        .features img{
            max-width: 460px;
            max-height: 700px;
            margin-top: 150px;
        }
        .btn-primary{
            border: none;
            border-radius: 8px;
                /* height: 8vh; */
                background-color: #FF900E;
                color: #FFFFFF;
                /* padding: 15px 20px; */
                /* font-size: 1.20rem; */
                text-align: center;
                max-width: 222px;
                max-height: 160px;
                margin-top: 5px;
            position: absolute;
            margin-left: -500px;
            top: 700px;
            }
}